results/**
**/__pycache__/*
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
__pycache__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover